body{
    background-color: #f5f4f5;
    
}

.nav a {
    font-family: "Arial", sans-serif ;
    color: #4e4b49;
  }

   .navbar-brand {
    color:#1b1a19
  }

  .button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 200px;
    }

    .right{
    float: right;
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 200px;
    }

  
 